In [7]:
import pandas as pd

In [8]:
l1 = [1,2,3]
l2 = ['a','b','c']

df = pd.DataFrame(data=[l1,l2])

In [9]:
print(df.to_csv())

,0,1,2
0,1,2,3
1,a,b,c

In [10]:
print(df.to_json())

{"0":{"0":1,"1":"a"},"1":{"0":2,"1":"b"},"2":{"0":3,"1":"c"}}

In [11]:
import pandas as pd
df = pd.read_pickle('../../Class-Example/tsla.pickle')
df.head()

              open    high     low   close    volume
date
2019-01-25  294.39  298.52  289.55  297.04   7258078
2019-01-28  292.91  297.46  287.75  296.38   6423279
2019-01-29  295.27  298.56  291.80  297.46   4621692
2019-01-30  300.45  309.00  298.49  308.77  11250318
2019-01-31  301.00  311.56  294.00  307.02  12569245